/* TODO: Setting up the project starts */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none; 
    border-radius: 0;
    border: none;
    background: none;           
}

:root {
    --main-color-no-gradient: rgb(48,22,57);
    --main-color: radial-gradient(circle, rgba(48,22,57,1) 24%, rgba(21,19,22,1) 85%);
    --second-color: #151316;
    --third-color: #301639;
    --white: #fefefe;
    --purple: #dc75f9;
    --pink: #c776f9;
    --black: #212121;
    --grey: #bbb4b7;
    --second-black: #283139;
}

body {
    width: 100%;
    overflow: hidden;
    background: var(--white);
}

.main {
    overflow: hidden;
}

/* FIXME: Setting up the project ends */

/* TODO: Header starts */

.header {
    background: var(--main-color-no-gradient);
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 1rem;
}

.image__container img {
    width: 6rem;
    aspect-ratio: 1;
}

.logo__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo__title h1 {
    color: var(--white);
    font-size: 2.2rem;
}

.logo__title h1 span {
    font-size: 1.4rem;
}

.madeby {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo__title h1 mark {
    color: var(--purple);
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.introduction p:nth-child(1) {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: bold;
    max-width: 20ch;
}

.introduction .from mark {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: bold;
}

.introduction .from mark mark {
    color: var(--purple);
}

.circle {
    width: 6px;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--white);
}

.benefits {
    margin-top: 2rem;
}

.benefits li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.benefits li:nth-child(1) p {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--white);
}

.benefits li:nth-child(2) p {
    color: var(--white);
    font-size: 1.2rem;
    max-width: 25ch;
}

.benefits li:nth-child(2) {
    margin-top: .5rem;
}

.benefits li:nth-child(1) p mark {
    color: var(--purple);
    text-transform: uppercase;
}

.more__benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 25rem;
    margin-top: .5rem;
}

.more__benefits li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.more__benefits .circle {
    margin-top: .1rem;
}

.more__benefits li span {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
}

.more__informations {
    background: var(--white);
    padding: 3rem 1.5rem;
    border-radius: 4rem;
    max-width: 16rem;
    margin-top: 2rem;
}

.more__informations h2 {
    color: var(--black);
    margin: 1rem 0;
    font-size: 1.6rem;
}

.more__informations p {
    color: var(--second-black);
    font-size: 1.2rem;
}

.fa-shapes {
    padding: 2rem;
    font-size: 3rem;
    background: var(--pink);
    border-radius: 100%;
    color: var(--white);
}

.video {
    margin-top: 2rem;
    height: 10rem;
    width: 18rem;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url(../images/playing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video__clicked {
    position: absolute;
    width: 90%;
    height: 40rem;
    top: 35rem;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.video__clicked.active {
    display: flex;
}

.video__clicked p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    text-align: center;
}

.video__clicked .fa-times {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    font-size: 3.5rem;
    color: var(--white);
    cursor: pointer;
}

.fa-play {
    font-size: 2rem;
    padding: .8rem 1.2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 1rem;
    color: var(--white);
    transition: all .2s linear;
}

.video:hover  .fa-play {
    background: red;
}

.price__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.old__price {
    font-size: 2.5rem;
    color: var(--purple);
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color: var(--white);
    text-transform: uppercase;
}

.price {
    font-weight: bold;
    color: var(--white);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.price__content p {
    font-size: 2.5rem;
    color: var(--white);
    max-width: 15ch;
}

.price__content p mark {
    color: var(--purple);
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    background: var(--pink);
    border-radius: 2rem;
    font-weight: 550;
    cursor: pointer;
    transition: all .2s linear;
}

.button:hover {
    background: rgb(145, 37, 145);
    color: var(--black);
}

.price__content .button {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 3rem;
    width: 8rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 2px solid var(--purple);
    color: var(--white);
}

.icon h2 {
    font-size: 1.4rem;
    color: var(--white);
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    margin-top: 0.5rem;
}

/* FIXME: Header ends */

/* TODO: Grid section starts */

.grid__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
    gap: 3rem 1rem;
    justify-content: center;
    padding: 4rem 2rem;
}

.grid__content {
    background: var(--black);
    padding: 2rem;
    border-radius: 2rem;
}

.grid__content h2 {
    font-size: 2rem;
    color: var(--purple);
}

.grid__content p {
    font-size: 1.3rem;
    color: var(--white);
    margin-top: 1rem;
    font-weight: 450;
}

.grid__content ul {
    margin-top: 1rem;
}

.grid__content ul li:nth-child(1) {
    font-size: 1.4rem;
}

.grid__content ul li span {
    font-weight: 450;
}

.grid__content ul li {
    font-size: 1.3rem;
    color: var(--white);
}

/* FIXME: Grid section ends */

/* TODO: Benefits section starts */

.benefits__section {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.list__content ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list__content li {
    font-size: 1.5rem;
    font-weight: bold;
}

.list__content .fa-check {
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: 100%;
    background: var(--pink);
}

.list__content li {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.benefits__section .more__informations h2 {
    color: var(--white);
}

.benefits__section .more__informations .fa-shapes {
    color: var(--black);
    background: var(--purple);
}

.benefits__section .more__informations {
    background: var(--black);
}

/* FIXME: Benefits section ends */

/* TODO: Course information starts */

.course__information {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.course__information p {
    font-size: 2rem;
    max-width: 72ch;
    color: var(--second-black);
}

.course__information p mark {
    color: var(--black);
    font-weight: bold;
}

.course__information h2 {
    font-size: 3rem;
    color: var(--black);
    text-align: center;
}

.course__results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 19rem));
    justify-content: center;
    gap: 4.5rem 8rem;
    width: 100%;
}

.course__results li h3 {
    font-size: 1.8rem;
    color: var(--black);
}

.course__results li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.course__results .circle {
    background: var(--black);
}

.course__results li span {
    font-size: 1.5rem;
    color: var(--second-black);
}

.course__results ul li:nth-child(1) {
    margin-bottom: 1rem;
}

/* FIXME: Course informations end */

/* TODO: Bonus starts */

.bonus {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.bonus p {
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
    max-width: 60ch;
}

.bonus__icons {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.bonus__icons i {
    font-size: 6rem;
    color: var(--purple);
}

.bonus__icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bonus__icons h2 {
    font-size: 1.6rem;
    color: var(--black);
    text-align: center;
}

.bonus .icon h2,
.bonus .icon i {
    color: var(--black);
}

/* FIXME: Bonus ends */

/* TODO: Testimonial starts */

.testimonial__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 2rem;
    background: var(--purple);
    position: relative;
}

.testimonial__section > h2 {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}

.testimonials__content {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 24rem;
    padding: 2rem 2rem 4rem 2rem;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 2rem;
    position: relative;
    height: 35rem;
}

.testimonial h3 {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
}

.testimonial i {
    font-size: 4rem;
    color: var(--black);
    position: absolute;
    top: -3rem;
}

.testimonial p {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 500;
}

.unreal__decoration {
    position: absolute;
    width: 10rem;
    top: -5rem;
    right: -5rem;
    filter: opacity(40%);
}

.unreal__decoration img {
    width: 100%;
    aspect-ratio: 1;
}

/* FIXME: Testimonial ends */

/* TODO: Course for starts */

.course__for {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background: var(--black);
    gap: 4rem;
}

.unreal__logo img {
    width: 15rem;
    aspect-ratio: 1;
}

.course__for > h2 {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}

.course__for__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.course__for__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.course__for__logo i {
    font-size: 3rem;
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    padding: 2rem 0;
    background: var(--white);
    border-radius: 2rem;
}

.course__for__logo h3 {
    font-size: 1.3rem;
    color: var(--white);
}

/* FIXME: Course for ends */

/* TODO: Course includes starts */

.includes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    gap: 3rem;
}

.includes h2 {
    font-size: 2rem;
    color: var(--purple);
    text-align: center;
}

.includes__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.include__content h3 {
    font-size: 1.6rem;
    color: var(--black);
    text-align: center;
}

.include__content p {
    font-size: 1.2rem;
    color: var(--pink);
    text-align: center;
    margin-top: .5rem;
}

.includes__image {
    display: none;
}

/* FIXME: Course includes ends */

/* TODO: Teacher section starts */

.teacher__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 7rem 2rem;
    background: var(--black);
    position: relative;
}

.teacher__image {
    border-radius: 100%;
    width: 6rem;
    aspect-ratio: 1;
    border: 5px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
}

.teacher__image i {
    font-size: 3rem;
    color: var(--white);
}

.teacher__container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.teacher__name h2 {
    font-size: 2rem;
    color: var(--grey);
}

.teacher__name p {
    font-size: 1.2rem;
    color: var(--purple);
    font-weight: bold;
}

.teacher__informations {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.teacher__informations p {
    font-size: 1.7rem;
    color: #eee;
    max-width: 50ch;
}

.teacher__unreal__image {
    display: none;
}

/* FIXME: Teacher section ends */

/* TODO: Price section starts */

.price__section {
    background: var(--black);
    margin-top: -4rem;
    padding: 10rem 2rem 4rem 2rem;
}

.price__section .button {
    max-width: 40rem;
}

/* FIXME: Price section ends */

/* TODO: Questions start */

.questions {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.questions h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}

.questions h2 mark {
    color: var(--purple);
}

.questions .include__content p {
    font-size: 1.5rem;
}

.socialmedia__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.socialmedia__icons i {
    font-size: 3rem;
    padding: 1.5rem;
    border-radius: 100%;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
}

/* FIXME: Questions end */

/* TODO: Footer starts */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem 2rem 2rem;
    border-top: 1px solid var(--grey);
    gap: 3rem;
}

.footer__contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem 14rem;
}

.footer__content p {
    max-width: 50ch;
    font-size: 1.5rem;
    color: var(--second-black);
}

.footer__content h2 {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.footer .socialmedia__icons i {
    font-size: 2rem;
}

.copyright p {
    font-size: 1.2rem;
    color: var(--black);
}

.copyright {
    margin-top: 5rem;
}

/* FIXME: Footer ends */

/* TODO: Media queries start */

@media screen and (min-width:280px) {

    /* TODO: Header adjustments */

    .introduction p:nth-child(1) {
        font-size: 1.7rem;
    }
    
    .introduction .from mark {
        font-size: 1.65rem;
    }

    .benefits li:nth-child(1) p {
        font-size: 2rem;
    }

    .benefits li:nth-child(2) p {
        font-size: 1.4rem;
        max-width: 27ch;
    }

    .more__benefits li span {
        font-size: 1.6rem;
    }

    .more__informations {
        max-width: 20rem;
    }

    .more__informations h2 {
        font-size: 2rem;
    }
    
    .more__informations p {
        font-size: 1.6rem;
    }

    .video {
        height: 15rem;
        width: 25rem;
    }

    .fa-play {
        padding: 1.2rem 1.8rem;
    }

    .button {
        font-size: 2rem;
    }

    .icons {
        gap: 4rem;
    }

    /* FIXME: Header adjsutments end */

    /* TODO: Testimonial adjsutments */

    .testimonial__section > h2 {
        font-size: 3rem;
    }

    .testimonial p {
        font-size: 1.5rem;
    }

    .testimonial h3 {
        font-size: 2.5rem;
    }

    .testimonial i {
        font-size: 6rem;
        top: -4.5rem;
    }

    .testimonial {
        height: 40rem;
    }

    .testimonials__content {
        gap: 10rem 2rem;
        margin-top: 6rem;
    }

    /* FIXME: Testimonial adjsutments end */

    /* TODO: Course for adjsutments */

    .course__for > h2 {
        font-size: 3rem;
    }

    .course__for__logo i {
        font-size: 4rem;
        width: 9rem;
    }

    .course__for__logo h3 {
        font-size: 1.7rem;  
    }

    /* FIXME: Course for adjustments end */

    /* TODO: Couse includes adjustments */

    .include__content p {
        font-size: 1.5rem;
    }

    .include__content h3 {
        font-size: 2rem;
    }

    .includes h2 {
        font-size: 3rem;
    }
    
    /* FIXME: Course includes adjustments end */

    /* TODO: Teacher adjsutments */

    .teacher__image {
        width: 8rem;
    }

    .teacher__image i {
        font-size: 4rem;
    }
    
    .teacher__name h2 {
        font-size: 2.4rem;
    }
    
    .teacher__name p {
        font-size: 1.5rem;
    }

    /* FIXME: Teacher adjsutments end */

    /* TODO: Questions adjustments */

    .questions h2 {
        font-size: 3rem;
    }

    .questions .include__content p {
        font-size: 1.8rem;
    }

    /* FIXME: Questions adjustments end */
}

@media screen and (min-width: 350px) {

    /* TODO: Header adjustments */

    .logo__title h1 {
        color: var(--white);
        font-size: 3rem;
    }
    
    .logo__title h1 span {
        font-size: 2rem;
    }

    .image__container img {
        width: 8rem;
    }

    .introduction p:nth-child(1) {
        font-size: 2.1rem;
    }

    .introduction .from mark {
        font-size: 2.1rem;
    }

    .benefits li:nth-child(1) p {
        font-size: 2.2rem;
    }

    .benefits li:nth-child(2) p {
        font-size: 1.6rem;
        max-width: 26ch;
    }

    .video {
        height: 18rem;
        width: 28rem;
    }

    .video__clicked p {
        font-size: 3rem;
    }

    .video__clicked {
        top: 40rem;
    }

    .old__price {
        font-size: 3rem;
    }

    .price {
        font-size: 4rem;
    }

    .price__content p {
        font-size: 3rem;
    }


    .button {
        font-size: 2.5rem;
        padding: 1.5rem 2.5rem;
    }

    /* FIXME: Header adjsutments end */

    /* TODO: Benefits section adjustments */

    .list__content li {
        font-size: 2rem;
    }

    /* FIXME: Benefits section adjustments end */

    /* TODO: Bonus adjsutments */

    .bonus p {
        font-size: 3rem;
    }

    .bonus {
        padding: 2rem 4rem;
    }

    .bonus__icons i {
        font-size: 8rem;
    }
    
    .bonus__icons h2 {
        font-size: 2rem;
    }

    /* FIXME: Bonus adjustments end */

    /* TODO: Teacher adjsutments */

    .teacher__image {
        width: 10rem;
    }

    .teacher__image i {
        font-size: 5rem;
    }
    
    .teacher__name h2 {
        font-size: 3rem;
    }
    
    .teacher__name p {
        font-size: 1.8rem;
    }

    /* FIXME: Teacher adjsutments end */

}

@media screen and (min-width:500px) {

    /* TODO: Header adjustments */

    .logo__title h1 {
        font-size: 3.5rem;
    }

    .logo__title h1 span {
        font-size: 2.2rem;
    }

    .image__container img {
        width: 10rem;
    }

    .introduction p:nth-child(1) {
        font-size: 2.6rem;
    }

    .introduction .from mark {
        font-size: 3rem;
    }

    .benefits li:nth-child(1) p {
        font-size: 2.6rem;
    }

    .benefits li:nth-child(2) p {
        font-size: 2rem;
        max-width: 24.5ch;
    }

    .more__benefits {
        min-width: 30rem;
    }

    .more__benefits li span {
        font-size: 2rem;
    }

    .more__informations {
        max-width: 25rem;
        padding: 3rem 2rem;
    }

    .video {
        height: 25rem;
        width: 36rem;
    }

    .video__clicked {
        top: 50rem;
    }
    
    /* FIXME: Header adjsutments end */

    /* TODO: Grid section adjsutments */
    
    .grid__section {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
        gap: 5rem 1rem;
    }

    /* FIXME: Grid section adjustments end */

    /* TODO: Benefits section adjustments */

    .benefits__section .more__informations h2 {
        font-size: 3rem;
    }

    /* FIXME: Benefits section adjsutments end */

    /* TODO: Teacher adjsutments */

    .teacher__image {
        width: 12rem;
    }

    .teacher__image i {
        font-size: 6rem;
    }
    
    .teacher__name h2 {
        font-size: 4rem;
    }
    
    .teacher__name p {
        font-size: 2.2rem;
    }

    /* FIXME: Teacher adjsutments end */

    /* TODO: Questions adjustments */

    .questions h2 {
        font-size: 5rem;
    }

    .questions .include__content p {
        font-size: 2rem;
    }

    /* FIXME: Questions adjustments end */

}

@media screen and (min-width:760px) {

    /* TODO: Header adjustments */

    .logo__title h1 {
        font-size: 5rem;
    }

    .logo__title h1 span {
        font-size: 3.5rem;
    }

    .image__container img {
        width: 12rem;
    }

    .introduction p:nth-child(1) {
        max-width: initial;
    }

    .introduction p:nth-child(1) {
        font-size: 2.7rem;
    }

    .introduction .from mark {
        font-size: 4rem;
    }

    .benefits li:nth-child(1) p {
        font-size: 4rem;
    }

    .benefits li:nth-child(2) p {
        font-size: 2.5rem;
        max-width: initial;
    }

    .more__benefits {
        max-width: initial;
    }

    .more__benefits li span {
        font-size: 2.2rem;
    }

    .video {
        height: 35rem;
        width: 55rem;
    }

    .fa-play {
        padding: 1.6rem 3rem;
        font-size: 3rem;
    }

    .video__clicked p {
        font-size: 5rem;
    }

    .old__price {
        font-size: 4rem;
    }

    .price {
        font-size: 5rem;
    }

    .price__content p {
        font-size: 4rem;
    }

    .button {
        font-size: 3rem;
    }

    .icon i {
        font-size: 4rem;
        width: 10rem;
        height: 8rem;   
    }

    .icon h2 {
        font-size: 2rem;

    }

    /* FIXME: Header adjsutments end */

    /* TODO: Bonus adjustments */

    .bonus__icons {
        flex-direction: row;
        gap: 10rem;
    }

    .bonus__icons h2 {
        font-size: 2.2rem;
    }

    .bonus__icons i {
        font-size: 8.5rem;
    }

    .bonus .button {
        width: 68rem;
        text-align: center;
        padding: 2.5rem 0;
    }

    /* FIXME: Bonus adjsutments end */

    /* TODO: Course for adjsutments */

    .course__for > h2 {
        font-size: 4rem;
    }

    .course__for__logo i {
        font-size: 5rem;
        width: 10rem;
    }

    .course__for__logo h3 {
        font-size: 2rem;  
    }

    /* FIXME: Course for adjsutments end */

    /* TODO: Course includes adjsutments */

    .include__content p {
        font-size: 1.7rem;
    }

    .include__content h3 {
        font-size: 3rem;
    }

    .includes h2 {
        font-size: 4rem;
    }

    /* FIXME: Course includes adjsutments end */

    /* TODO: Questions adjustments */

    .questions .include__content p {
        font-size: 2.5rem;
    }

    .socialmedia__icons i {
        font-size: 4rem;
    }

    /* FIXME: Questions adjustments end */

  
}

@media screen and (min-width:900px) {

    /* TODO: Header adjsutments */

    .video {
        height: 40rem;
        width: 70rem;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Couse results adjustments */

    .course__results {
        display: grid;
        grid-template-columns: repeat(3, 22rem);
        justify-content: center;
        gap: 4.5rem 8rem;
        width: 100%;
    }

    /* FIXME: Couse results adjsutments end */

    /* TODO: Teacher adjustments */

    .teacher__unreal__image {
        position: absolute;
        display: block;
    }
    
    .teacher__unreal__image img {
        width: 35rem;
        aspect-ratio: 1;
        filter: opacity(40%);
    }

    .first {
        left: -17.5rem;
        top: 4rem;
    }

    .second {
        right: -17.5rem;
        bottom: 4rem;
    }

    /* FIXME: Teacher adjustments end */
    
}

@media screen and (min-width:1200px) {

    /* TODO: Grid section adjsutments */

    .grid__section {
        grid-template-columns: repeat(5, 19rem);
    }

    /* FIXME: Grid section adjustments end */
    
}

@media screen and (min-width:1280px) {

    /* TODO: Header adjsutments */

    .introduction .more__informations {
        position: absolute;
        right: -27.5rem;
        top: 16rem;
    }

    .video__clicked {
        top: 23rem;
    }

    /* FIXME: Header adjsutments end */

    /* TODO: Benefits adjustments */

    .benefits__section {
        flex-direction: row;
        gap: 6rem;
    }

    .benefits__section .more__informations {
        align-self: flex-end;
        background: var(--black);
    }
    
    /* FIXME: Benefits adjustments end */

    /* TODO: Testimonial adjsutments */

    .more__informations__container {
        width: 30rem;
        position: relative;
    }
    
    .testimonial__section .more__informations {
        position: absolute;
        left: -49rem;
        z-index: 100;
    }

    .unreal__decoration {
        width: 50rem;
        top: -25rem;
        right: -25rem;
    } 

    /* FIXME: Testimonial adjsutments end */

    /* TODO: Course for adjsutments */

    .course__for .more__informations {
        position: absolute;
        right: -45rem;
        top: 1rem;
    }

    /* FIXME: Course for adjsutments end */

    /* TODO: Course includes adjsutments */
    
    .includes {
        position: relative;
    }

    .includes__image {
        display: block;
        position: absolute;
        right: -25rem;
        top: 10rem;
    }

    .includes__image img {
        width: 50rem;
        aspect-ratio: 1;
        filter: opacity(40%);
    }

    /* FIXME: Course includes adjsutments end */

    /* TODO: Teacher adjustments */
    
    .teacher__unreal__image img {
        width: 50rem;
    }

    .first {
        left: -25rem;
    }

    .second {
        right: -25rem;
    }

    /* FIXME: Teacher adjustments end */

}

